@font-face {
    font-family: "SDGothicB";
    src: url("/src/client/fonts/AppleSDGothicNeoB.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SDGothicR";
    src: url("/src/client/fonts/AppleSDGothicNeoR.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "SDGothicH";
    src: url("/src/client/fonts/AppleSDGothicNeoH.ttf") format("truetype");
    font-weight: normal;
}