.process__account--popup.animate__animated.animate__fadeOut
    .account__popup__header
        h1.account__popup--title Account Info
        img(src="/static/images/close_icon.png").account__close--icon
    .account__popup--content
        p.account__popup--subtitle Beneficiary's Name
        .account__popup__text--box
            p.account__popup--text 10wonders co., Ltd
    .account__popup--content
        p.account__popup--subtitle Beneficiary's Address
            .account__popup__text--box
                p.account__popup--text 16th floor, TWO IFC, 10, Gukjegeumyung-ro,
                p.account__popup--text Yeongdeungpo-gu, Seoul, Republic of Korea  
    .account__popup--content
        p.account__popup--subtitle Bank Name
            .account__popup__text--box
                p.account__popup--text INDUSTRIAL BANK OF KOREA
    .account__popup--content
        p.account__popup--subtitle Account Number
            .account__popup__text--box
                p.account__popup--text 233-105760-56-00011  
    .account__popup--content
        p.account__popup--subtitle SWIFT/BIC
            .account__popup__text--box
                p.account__popup--text IBKOKRSE     
    .account__popup--content
        p.account__popup--subtitle Bank address
            .account__popup__text--box
                p.account__popup--text 3rd floor, ONE IFC, 10, Gukjegeumyung-ro,
                p.account__popup--text Yeongdeungpo-gu, Seoul, Republic of Korea