.cart__order__complete__popup.animate__animated.animate__fadeOut
    .order__complete__header
        img(src="/static/images/close_icon.png").order__complete__close--icon
    .order__complete__titles
        h1.order__complete--title To complete your order,
        h1.order__complete--title please deposit to the following account.
    .order__complete__contents
        .order__complete--content
            p.order__complete--subtitle Beneficiary's Name
            .order__complete__text--box
                p.order__complete--text 10wonders co., Ltd

        .order__complete--content
            p.order__complete--subtitle Beneficiary's Address
                .order__complete__text--box
                    p.order__complete--text 16th floor, TWO IFC, 10, Gukjegeumyung-ro,
                    p.order__complete--text Yeongdeungpo-gu, Seoul, Republic of Korea  
        .order__complete--content
            p.order__complete--subtitle Bank Name
                .order__complete__text--box
                    p.order__complete--text INDUSTRIAL BANK OF KOREA
        .order__complete--content
            p.order__complete--subtitle Account Number
                .order__complete__text--box
                    p.order__complete--text 233-105760-56-00011  
        .order__complete--content
            p.order__complete--subtitle SWIFT/BIC
                .order__complete__text--box
                    p.order__complete--text IBKOKRSE     
        .order__complete--content
            p.order__complete--subtitle Bank address
                .order__complete__text--box
                    p.order__complete--text 3rd floor, ONE IFC, 10, Gukjegeumyung-ro,
                    p.order__complete--text Yeongdeungpo-gu, Seoul, Republic of Korea