.our__process__popup.animate__animated.animate__fadeOut
    .our__process__header
        h1.our__process--head Our process
        img(src="/static/images/close_icon.png").our__process__close--icon
    .our__process__body
        .our__process__body__step
            .our__process__body__step--title
                span Step 1
                img(src="/static/images/step_down_icon.png")
            .our__process__step--box
                p.our__process__body__step--subtitle Select
                p.our__process__body__step--subtitle items
                img(src="/static/images/step_down_icon.png").mobile__step__down--icon
        .our__process__body__step
            .our__process__body__step--title
                span Step 2
                img(src="/static/images/step_down_icon.png")
            .our__process__step--box
                p.our__process__body__step--subtitle Make an
                p.our__process__body__step--subtitle order
                img(src="/static/images/step_down_icon.png").mobile__step__down--icon
            .our__process__step--box.step__position--absolute
                p.our__process__body__step--content We will send                
                p.our__process__body__step--content you an estimate
        .our__process__body__step
            .our__process__body__step--title
                span Step 3
                img(src="/static/images/step_down_icon.png")
            .our__process__step--box
                p.our__process__body__step--subtitle Send
                p.our__process__body__step--subtitle money
                img(src="/static/images/step_down_icon.png").mobile__step__down--icon
            .our__process__step--box.step__position--absolute 
                .our__process__body__step--content.step__accountInfo Account Info  
        .our__process__body__step
            .our__process__body__step--title
                span Step 4
                img(src="/static/images/step_down_icon.png")
            .our__process__step--box
                p.our__process__body__step--subtitle Order will be
                p.our__process__body__step--subtitle placed
                img(src="/static/images/step_down_icon.png").mobile__step__down--icon
            .our__process__step--box.step__position--absolute 
                p.our__process__body__step--content Confirmation   
                p.our__process__body__step--content Mail will be sent
        
        .our__process__body__step
            .our__process__body__step--title
                span Step 5
            .our__process__step--box
                p.our__process__body__step--subtitle Shipping
                img(src="/static/images/step_down_icon.png").mobile__step__down--icon
            .our__process__step--box.step__position--absolute 
                p.our__process__body__step--content It takes about
                p.our__process__body__step--content 2 weeks
    .our__process__footer
        h3.our__process__footer--head Any questions?
        .our__process__footer--subBox
            img(src="/static/images/phone_black_icon.png")
            p.our__process__footer--content 82+ 2-2088-1955
        .our__process__footer--subBox
            img(src="/static/images/mail_black_icon.png")
            p.our__process__footer--content help10wge@gmail.com