//-
.shop__ordersheet__success__popup.animate__animated.animate__fadeOut
    .ordersheet__success--head
        h1.ordersheet__success--headText You have successfully added
        h1.ordersheet__success--headText the product to your order sheet.
    .ordersheet__success--body
        a(href="/cart").gotoorderText GO TO ORDER
        a.keepshoppingText KEEP SHOPPING