@media (max-width: 425px) {

    /* header */ 

    header.header {
        max-width: 425px;
        width:100%;
        padding: 0px 40px;
        .header__columns {
            max-width: 425px !important;
        }
        
    }

    /* Home */
    #home {
        .process__account--popup {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 80%;
            overflow-y: scroll;

            .account__popup--content {
                flex-direction: column;

                .account__popup--subtitle {
                    position: static;
                    margin-bottom: 15px;
                }

                .account__popup__text--box {
                    .account__popup--text {
                        margin-left: 0;
                        font-size: 14px;
                    }
                }
            }
        }
        /* main section */
        .main__section {
            max-width: 425px;
            width: 100%;
            padding-left: 40px; 
            padding-right: 40px;
            min-height: 130vh;
            .main__section__wrapper {
                height: 100%;
                .section__heading--box {
                    .section__head--text {
                        font-size: 34px;
                    }
                    
                }
    
                .section__subheading--box {
                    .section__subhead--text {
                        font-size: 14px;
                    }
    
                    .subheading__child--box {
                        flex-direction: column;
    
                        a {
                            margin-left: 0px !important;
                        }
                    }
                }
    
                .section__process {
                    flex-direction: column;
                    align-items: flex-start;
                    padding-top: 45px;
                    height: 100%;

                    .scroll__div {
                        display :none;
                    }
    
                    .section__process--text {
                        left: 0px;
                        font-size: 30px;
                    }

                    .process__child--box {
                        width: 114px;
                        height: 60px;
                        font-size: 16px;
                        margin-bottom: 50px;


                        .process__child__sub--box {
                            bottom: 0px;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 150px;
                            .process__child__sub--text {
                                font-size: 14px;
                            }

                            .process__child--sub--text {
                                font-size: 14px;
                            }

                        }


                    }

                    .step__down--icon {
                        display: block;
                    }

                    .right__arrow--icon {
                        display: none;
                    }

                    .main__section__footer {
                        align-items: center;
                        margin: 0 auto;
                        position: static;
                        flex-direction: column;
                        margin-bottom: 20px;
                        .main__section__footer__column {
                            margin-right: 0px;
                            text-align: center;
                            &:nth-child(2) {
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            .main__footer__text {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }


        }



        /* scroll section */

        .scroll__back {
            .scroll__inner__section {
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 80px;

                .scroll__inner__box {
                    .scroll__inner--title {
                        font-size: 34px;
                    }

                    .scroll__inner--text {
                        font-size: 14px;
                    }
                }
            }
        }
        

        /* diaogonal section */ 

        .slice__section {
            flex-direction: column;
            height: 100%;
            max-height: 140vh;

            .slice__back {
                min-height: 264px;
                position: static !important;
                padding: 0px 40px;
                background-position: center center !important;
                align-items: center;
                width: 100% !important;
                .slice__box {
                    padding: 0px;
                    .slice__box--title {
                        font-size: 34px;
                        margin-bottom: 10px;

                    }
                    .slice__box--text {
                        font-size: 14px;
                    }

                }

                &:nth-child(2){
                    transform: skew(0deg);
                    .slice__box {
                        transform: skew(0deg);
                    }
                }

                &:nth-child(3) {
                    transform: skew(0deg);
                    .slice__box {
                        transform: skew(0deg);
                    }
                }
            }
        }

        /* brand section */

        .brand__section {
            padding: 0px 40px;
            height: 100%;
            max-height: 150vh;
            min-height: 100vh;
            .brand__section__wrapper {
                position: relative;
                .brand__text--zone {
                
                    .brand__section--title {
                        font-size: 28px;
                        margin-top: 56px;
                    }
    
                    .brand__section--text {
                        font-size: 14px;
                    }
                }

                .brand__image--zone {
                    margin-top: 20px;
                    margin-bottom: 58px;
                    width:100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .brand__image--back {
                        background-color: white;
                        width: 125px;
                        height: 60px;

                        img {
                            width: 85px;
                        }
                        &:nth-child(2n) {
                            margin-left: 0px;
                        }
                    }
                }

                .brand__find--btn {
                    width: 130px;
                    height: 32px;
                    font-size: 14px;
                    line-height:32px;
                    position: absolute;
                    bottom: 20px
                }
            }


            
        }

    }

    #shop {
        .shop__section {
           padding-left: 40px;
           padding-right: 40px;
            .shop__wrapper {

                .shop__ordersheet__success__popup {
                    width: 80%;
                    height: 417px;
                    overflow-y: scroll;

                    .ordersheet__success--head {

                        .ordersheet__success--headText {
                            font-size: 28px;
                        }
                        
                    }

                    .ordersheet__success--body {
                        flex-direction: column;
                        bottom: 30px;
                        width: 80%;
                        
                        a {
                            width: 100%;
                            font-size: 17px;
                        }

                        .gotoorderText {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }

                        .keepshoppingText {
                            margin-right: 0;
                        }
                    }
                }
                .shop__category__wrapper {
                    margin-bottom: 50px;
                    .shop__main__categories {
                        a  {
                            font-size: 20px; 
                            margin-right: 20px;
                        }
                    }

                    .shop__sub__categories {
                        overflow-x: scroll;
                        overflow-y: hidden;
                        display: flex;
                        white-space: pre;
                        a {
                            margin-right: 20px;
                            font-size: 14px;
                        }
                        padding-bottom: 20px;
                    }
                }

                .shop__products {
                    .shop__product {
                        margin-bottom: 30px;
                        flex-direction: column;

                        .shop__ordersheet__popup {
                            width: 90%;
                            height: 80%;
                            overflow-y: scroll;
                            padding-top: 30px;

                            .ordersheet__mobile--text  {
                                display: block;
                                text-align: center;
                                margin-bottom: 20px;
                            }
                            .ordersheet__popup--body {
                                flex-direction: column;

                                .ordersheet__popup__column {
                                    &:first-child {
                                        margin-right: 0px;
                                        margin-bottom: 20px;
                                    }
                                    .ordersheet__popup--title {
                                        display: none;
                                    }
                                    .ordersheet__product--img {
                                        width: 100%;
                                        height: 250px;
                                        
                                    }

                                    .ordersheet__popup--productName {
                                        font-size: 24px;
                                    }

                                    .ordersheet__popup--text {
                                        font-size: 15px;
                                    }

                                    .ordersheet__popup--guide {
                                        font-size: 15px;
                                    }

                                    .ordersheet__popup__active--box {
                                        .input__quantity {
                                            width: 80%;
                                            height: 35px;
                                        }

                                        .ordersheet__add--btn {
                                            height: 35px;
                                            font-size: 15px;
                                            width: 50%;
                                        }
                                    }
                                }
                            }
                        }

                        .product__column {
                            & > img {
                                width: 300px;
                                height: 300px;
                                margin-right: 0px;
                                margin-bottom: 20px;
                            }

                            .product__title--box {
                                .product__name {
                                    font-size: 20px;
                                    margin-bottom: 10px;
                                }

                                .product__subhead {
                                    font-size: 14px;
                                }
                            }

                            .product__specs--box {
                                flex-direction: column;

                                .specs__column {
                                    width: 100%;


                                    .product__spec--title {
                                        font-size: 15px;
                                    }

                                    .product__spec--text {
                                        font-size: 14px;
                                    }
                                }
                            }

                            .product__action--box {
                                flex-direction: column;


                                a {
                                    width: 100%;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* footer */

    .footer {
        height: 200px;
        .footer__real--section {
            margin: 0;
            padding: 0px 40px;
            flex-direction: column; 
            justify-content: center;
            align-items: flex-start;
            width: auto;

            .footer__contact--text {
                font-size: 36px;
                margin-bottom: 30px;
                margin-right: 0px;

            }

            .footer__column {
                margin-right: 0px;
                margin-bottom: 15px;
            }
        }
    }

}

@media (max-width: 375px) {

    /* header */


    header.header {
        max-width: 375px;
        .header__columns {
            max-width: 375px !important;
        }
        
    }


    /* Home */

    #home {
        /* main__section */

        .main__section {
            max-width: 375px;
            .main__section__wrapper {
                .section__process {
    
                    .process__child--box {
    
    
                        .process__child__sub--box {
    
                            left: 120px;
        
    
                        }
                    }
                    .main__section__footer {

                        .main__section__footer__column {

                            .main__footer__text {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        /* brand__setion */

        .brand__section {

            .brand__section__wrapper {


                .brand__image--zone {
                    margin-bottom: 0px;
                    padding-bottom: 80px;
                    
                    .brand__image--back {
                        width: 100px;
                        height: 60px;
                        max-width: 105px;
                        img {
                            max-width: 100px;
                        }
                    }
                }

                .brand__find--btn {
                    width: 130px;
                    height: 32px;
                    font-size: 14px;
                    line-height:32px;
                    position: absolute;
                    bottom: 20px
                }
            }


            
        }
    }

}

@media (max-width: 360px) {
    

    #home {
        /* brand__setion */

        .brand__section {

            .brand__section__wrapper {


                .brand__image--zone {
                    padding-bottom: 50px;
                }


            }


            
        }
    }
}

