#cart {


    #popupOverlay {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .cart__section {
        width: 100%;
        min-height: 100vh;
        padding-top: 120px;

        .cart__wrapper {
            margin: 0 auto;
            max-width: 1320px;
            height: 100%;
            position: relative;

            .cart__order__complete__popup {
                display: none;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                max-width: 900px;
                width: 100%;


                z-index: 2;
                padding: 30px 35px;

                .order__complete__header {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 20px;

                    .order__complete__close--icon {
                        cursor: pointer;
                    }
                }

                .order__complete__titles {
                    .order__complete--title {
                        font-family: "SDGothicB";
                        font-weight: 600;
                        font-size: 32px;
                        color: #003CFF;
                        margin-bottom: 7px;
                    }

                    margin-bottom: 40px;
                }

                .order__complete__contents {
                    margin-bottom: 50px;

                    .order__complete--content {
                        display: flex;
                        align-items: flex-start;
                        position: relative;

                        &:not(:last-child) {
                            margin-bottom: 24px;
                        }

                        .order__complete--subtitle {
                            font-size: 20px;
                            font-family: "SDGothicB";
                            position: absolute;
                            font-weight: 600;
                            left: 0;
                        }

                        .order__complete--text {
                            font-family: "SDGothicR";
                            font-size: 20px;
                            margin-left: 250px;
                        }
                    }
                }

                .order__complete__alerts {
                    margin-bottom: 70px;

                    .order__complete__alert {
                        font-family: "SDGothicR";
                        font-size: 16px;
                        margin-bottom: 6px;

                    }
                }

                .order__complete__footer {
                    margin-bottom: 15px;
                    text-align: center;

                    .order__complete--yes {
                        background-color: #003CFF;
                        color: white;
                        font-family: "SDGothicR";
                        border: none;
                        width: 210px;
                        height: 46px;
                        font-size: 22px;
                        cursor: pointer;
                    }
                }
            }

            .cart__main__categories {
                margin-bottom: 25px;

                a {
                    font-family: "SDGothicB";
                    font-weight: 600;
                    font-size: 32px;
                    margin-right: 64px;
                    color: #DDDDDD;
                    text-transform: uppercase;

                    &.selected__category {
                        color: #000;
                    }
                }
            }

            .cart__guide--box {

                margin-top: 30px;
                margin-bottom: 50px;

                .cart__guide--head {
                    font-size: 25px;
                    font-family: "SDGothicB";
                }

                .cart__guide--subhead {
                    margin-top: 15px;
                    font-family: "SDGothicR";
                    font-size: 17px;
                }

            }

            .cart__request--box {
                display: flex;
                flex-direction: column;
                margin-bottom: 74px;

                .cart__request__column {
                    display: flex;
                    align-items: center;

                    .cart__input--box {
                        margin-right: 40px;
                        margin-bottom: 20px;

                        .cart__input--label {
                            font-family: "SDGothicB";
                            font-size: 20px;
                            margin-bottom: 5px;
                        }

                        .cart__input {
                            width: 400px;
                            height: 50px;
                            outline: none;
                            border: none;
                            background-color: #F3F3F3;
                            font-family: "SDGothicR";
                            font-size: 20px;
                            padding: 0px 10px;
                        }
                    }

                    .request__estimate--btn {
                        margin-left: auto;
                        background-color: #003CFF;
                        color: white;
                        font-family: "SDGothicB";
                        font-size: 20px;
                        height: 50px;
                        border: none;
                        padding: 0px 10px;
                        cursor: pointer;
                    }
                }
            }

            .cart__table {
                width: 100%;
                margin-bottom: 50px;

                thead {
                    th {
                        border: 2px solid #222222;
                        font-family: "SDGothicB";
                        font-size: 20px;
                        padding: 10px 0px;
                    }
                }

                tbody {
                    tr {
                        height: 120px;
                        border-left: 2px solid #222222;
                        border-bottom: 2px solid #222222;

                        td {
                            text-align: center;
                            border-right: 2px solid #222222;
                            vertical-align: middle;
                            font-family: "SDGothicB";

                            &.tdNum {
                                font-size: 17px;
                            }

                            &.tdBox {
                                padding: 10px 20px;

                                .table__product {
                                    display: flex;
                                    align-items: center;

                                    img {
                                        width: 112px;
                                        height: 112px;
                                        object-fit: cover;
                                        border: 1px solid #DDDDDD;
                                        margin-right: 30px;
                                    }

                                    .product__info--box {


                                        .product__info--title {
                                            font-size: 32px;
                                            margin-bottom: 5px;
                                            text-align: left;
                                        }

                                        .product__info--subHead {
                                            font-family: "SDGothicR";
                                        }
                                    }
                                }
                            }

                            &.tdQtyBox {

                                .tdQty__wrapper {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    input {
                                        margin-right: 10px;
                                        border: none;
                                        //background-color: #F3F3F3;
                                        background-color: transparent;
                                        width: 100px;
                                        height: 30px;
                                        text-align: center;
                                        font-family: "SDGothicR";
                                        font-size: 17px;
                                    }

                                    .qty__control--box {

                                        display: flex;
                                        flex-direction: column;

                                        img {
                                            cursor: pointer;
                                        }

                                        img:first-child {
                                            margin-bottom: 20px;

                                        }
                                    }
                                }


                            }

                            &.tdDelBox {
                                img {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}