

.pageup--icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: opacity .2s ease-in;
    cursor: pointer;
}

@keyframes scrollAnime {
    0% {
        filter: brightness(0.5);
    }

    25% {
        filter: brightness(0.7);
    }
    
    50% {
        filter: brightness(1);
    }

    75% {
        filter: brightness(0.7);
    }

    100%{
        filter: brightness(0.5)
    }
}

#home {
    .process__account--popup {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        z-index: 2;
        background-color: white;
        color: black;
        text-align: start;
        padding: 30px;
        width: 650px;
        display: none;


        &.show-fadeIn {
            opacity: 1;
            display: block;

        }


        .account__popup__header {
            display: flex;
            align-items: center;
            margin-bottom: 42px;

            .account__popup--title {
                font-family: "SDGothicB";
                font-size: 32px;
            }

            .account__close--icon {
                margin-left: auto;
                width: 18px;
                height: 18px;
                cursor: pointer;
            }
        }

        .account__popup--content {
            display: flex;
            align-items: flex-start;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            .account__popup--subtitle {
                font-size: 20px;
                position: absolute;
                left: 0;
            }

            .account__popup--text {
                font-family: "SDGothicR";
                font-size: 16px;
                margin-left: 250px;
            }
        }
    }
    #popupOverlay {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .main__section {

        width: 100%;
        background-size: cover;
        background-position: center center;
        box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
        min-height: 100vh;
        padding-top: 120px;
        transition: background-image .5s ease-out;

        .main__section__wrapper {
            margin: 0 auto;
            max-width: 1320px;
            height: calc(100vh - 100px);
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            .section__heading--box {
                font-family: "SDGothicH";
                color: white;
                font-size: 72px;
                margin-bottom: 30px;
                margin-top: 30px;
                transition: background-image .5s ease-in-out;
            }

            .section__subheading--box {
                font-family: "SDGothicR";
                color: white;
                font-size: 20px;
                margin-top: 30px;
                transition: background-image .5s ease-in-out;

                .section__subhead--text {
                    margin-bottom: 15px;
                }

                .subheading__child--box {
                    display: flex;

                    a {
                        margin-left: auto;
                        color: white;
                        text-decoration: underline;
                    }


                }
            }

            .section__process {

                width: 100%;
                height: 254px;
                background-color: rgba(0, 0, 0, 0.63);
                position: relative;

                padding-left: 30px;
                padding-right: 30px;

                display: flex;
                align-items: center;
                margin-bottom: 15px;

                .scroll__div {
                    position: absolute;
                    bottom: 3px;
                    left: -120px;
                    text-align: center;
                    filter: brightness(0.5);
                    animation: scrollAnime linear 1.5s infinite;

                    img {
                        margin-bottom: 8px;
                    }

                    .scroll__text {
                        color: #818181;
                        font-family: "SDGothicB";
                        font-size: 18px;
                    }
                }

                .right__arrow--icon {
                    margin: 0px 47.3px;
                }

                .step__down--icon {
                    display: none;
                    position: absolute;
                    left: 50%; 
                    transform: translateX(-50%);
                    bottom: -30px;
                }

                .section__process--text {
                    font-family: "SDGothicB";
                    color: white;
                    position: absolute;
                    top: -15px;
                    left: 30px;
                    font-size: 42px;
                }

                .process__child--box {
                    width: 160px;
                    height: 82px;
                    background-color: rgba(0, 0, 0, 0.73);
                    font-family: "SDGothicB";
                    color: white;
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;

                    .process__child--text:first-child {
                        margin-bottom: 5px;
                    }

                    .process__child__sub--box {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        bottom: -50px;
                        font-family: "SDGothicR";
                        font-size: 18px;
                        text-align: center;
                        color: white;

                        a {
                            color: $linkTextColor;
                            text-decoration: underline;
                            cursor: pointer;
                        }




                    }


                }
            }

            .main__section__footer {
                display: flex;

                justify-content: flex-end;
                padding-right: 20px;
                color: white;
                font-family: "SDGothicR";
                font-size: 15px;
                position: absolute;
                right: 0px;
                bottom: -35px;

                .main__section__footer__column {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 5px;
                    }

                    &:not(:last-child) {
                        margin-right: 25px;
                    }

                }
            }
        }
    }



    .scroll__back {
        width: 100%;
        height: 100vh;
        background-size: cover;


        &.scroll1 {
            background-position: center top;
        }

        &.scroll2  {
            background-position: center 80%;
        }

        &.scroll3  {
            background-position: center 50%;
            filter: contrast(0.78);
            -webkit-filter: contrast(0.78);
        }

        .scroll__inner__section {
            margin: 0 auto;
            max-width: 1320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 100px;

            .scroll__inner__box {
                color: white;

                .scroll__inner--title {
                    font-family: "SDGothicH";
                    font-size: 72px;
                }

                .scroll__inner--text {
                    font-family: "SDGothicR";
                    font-size: 18px;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &:last-child {
                    margin-top: 40px;
                }

                a {
                    border: 2px solid white;
                    padding: 7px 20px;
                    font-family: "SDGothicR";
                    font-size: 18px;
                    color: white;


                }
            }
        }
    }

    .slice__section {
        height: 100vh;
        max-height: 100vh;
        display: flex;
        position: relative;
        overflow: hidden;




        .slice__back {
            height: 100%;
            background-size: cover !important;
            position: absolute;


            &:nth-child(1) {
                width: calc(100% / 3);
                background-position: center center;
                padding-left: 40px;
                padding-top: 150px;
            }

            &:nth-child(2) {
                width: 42%;
                padding-top: 120px;
                padding-left: 60px;
                
                background-position: center;
                -webkit-transform: skew(-10deg);
                -ms-transform: skew(-10deg);
                transform: skew(-10deg);
                top: 0px;
                left: 27.8%;
                align-items: center;

                .slice__box {
                    transform: skew(10deg);
                }
            }

            &:nth-child(3) {
                width: 38%;
                padding-top: 120px;
                padding-left: 80px;
                padding-bottom: 30px;
                background-position: center;
                -webkit-transform: skew(-10deg);
                -ms-transform: skew(-10deg);
                transform: skew(-10deg);
                top: 0px;
                right: -6%;
                align-items: flex-end;

                .slice__box {

                    transform: skew(10deg);
                    
                }
            }

            display: flex;

            .slice__box {
                
                

                color: white;

                .slice__box--title {
                    font-family: "SDGothicH";
                    font-size: 60px;

                }

                .slice__box--text {
                    font-size: 20px;
                    font-family: "SDGothicR";


                }

                a {
                    color: white;
                    font-family: "SDGothicR";
                    border: 2px solid white;
                    padding: 10px 25px;
                    margin-top: 40px;
                    display: inline-block;
                }
            }
        }
    }

    .brand__section {
        height: calc(100vh + 180px);
        max-height: calc(100vh + 180px);

        background-size: cover !important;

        .brand__section__wrapper {
            padding-top: 180px;
            padding-bottom: 50px;
            margin: 0 auto;
            max-width: 1320px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .brand__text--zone {
                color: white;

                .brand__section--title {
                    font-family: "SDGothicH";
                    font-size: 72px;
                    margin-bottom: 25px;
                }

                .brand__section--text {
                    font-family: "SDGothicR";
                    font-size: 20px;
                    margin-bottom: 7px;
                }
            }

            .brand__image--zone {
                margin-top: 82px;
                margin-bottom: 100px;
                display: flex;

                flex-wrap: wrap;
                max-width: 1220px;

                .brand__image--back {
                    width: 210px;
                    height: 70px;
                    background-color: white;
                    text-align: center;
                    margin-bottom: 25px;
                    margin-right: 25px;
                    position: relative;

                    img {
                        width: 100px;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                    }
                }
            }

            .brand__find--btn {
                background-color: #003CFF;
                color: white;
                font-family: "SDGothicR";
                width: 210px;
                height: 60px;
                text-align: center;
                font-size: 22px;
                line-height: 64px;
            }
        }
    }
}