#shop {


    #popupOverlay {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .shop__section {
        width: 100%;
        min-height: 100vh;
        padding-top: 120px;


        .shop__wrapper {
            margin: 0 auto;
            max-width: 1320px;
            height: 100%;
            position: relative;

            .shop__ordersheet__success__popup {
                display: none;
                background-color: white;
                width: 900px;
                height: 500px;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 2;
                text-align: center;
                transition: all .8s ease;

                .ordersheet__success--head {
                    .ordersheet__success--headText {
                        font-family: "SDGothicB";
                        font-size: 42px;
                    }

                    margin-bottom: 50px;
                }

                .ordersheet__success--body {
                    display: flex;
                    position: absolute;
                    bottom: 90px;

                    a {
                        display: block;
                        font-family: "SDGothicR";
                        font-size: 20px;
                        color: white;
                        width: 210px;
                        height: 46px;
                        line-height: 46px;
                        cursor: pointer;
                    }

                    .gotoorderText {
                        background-color: #003CFF;
                        margin-right: 50px;
                    }

                    .keepshoppingText {

                        background-color: #222222;
                    }
                }


            }

            .shop__category__wrapper {

                .shop__main__categories {
                    margin-bottom: 25px;

                    a {
                        font-family: "SDGothicB";
                        font-weight: 600;
                        font-size: 32px;
                        margin-right: 64px;
                        color: #DDDDDD;
                        text-transform: uppercase;

                        &.selected__category {
                            color: #000;
                        }
                    }
                }

                .shop__sub__categories {
                    a {
                        font-family: "SDGothicB";
                        font-size: 18px;
                        color: #DDDDDD;
                        margin-right: 32px;

                        &.selected__category {
                            color: #000;
                        }
                    }
                }

                margin-bottom: 120px;
            }

            .shop__products {
                .shop__product {
                    margin-bottom: 80px;
                    display: flex;
                    position: relative;

                    .product__align {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                    }

                    .product__column {
                        img {
                            width: 400px;
                            height: 400px;
                            object-fit: cover;
                            border: 1px solid #dddddd;

                        }

                        &>img {
                            margin-right: 70px;
                        }

                        .product__title--box {
                            .product__name {
                                font-family: "SDGothicB";
                                font-size: 32px;
                                margin-bottom: 5px;
                            }

                            .product__subhead {
                                font-family: "SDGothicR";
                                font-size: 17px;
                            }

                            margin-bottom: 30px;
                        }

                        .product__specs--box {
                            display: flex;
                            flex-wrap: wrap;

                            .specs__column {
                                width: 50%;
                                margin-bottom: 30px;


                                .product__spec--title {
                                    font-family: "SDGothicB";
                                    font-size: 17px;
                                    color: #003CFF;
                                    font-weight: 600;
                                    margin-bottom: 8px;
                                }

                                .product__spec--text {
                                    font-family: "SDGothicR";
                                    font-size: 16px;
                                    word-break: break-all;
                                    line-height: 18px;
                                    max-width: 90%;
                                }
                            }
                        }

                        .product__action--box {
                            display: flex;
                            margin-top: auto;

                            a {
                                font-size: 22px;
                                color: white;
                                font-family: "SDGothicB";
                                text-align: center;
                                width: 50%;
                                height: 70px;
                                line-height: 70px;
                                display: block;

                                &.action__download--btn {
                                    background-color: #222222;
                                    margin-right: 35px;
                                }

                                &.action__ordersheet--btn {
                                    cursor: pointer;
                                    background-color: #003CFF;

                                }
                            }
                        }
                    }

                    .shop__ordersheet__popup {

                        position: fixed;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        background-color: white;
                        width: 900px;
                        height: 450px;
                        padding: 0px 30px 30px 30px;
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        transition: all .5s ease;

                        .ordersheet__popup--head {
                            display: flex;
                            justify-content: flex-end;
                            margin-bottom: 20px;

                            .ordersheet__close--btn {
                                cursor: pointer;
                            }
                        }

                        .ordersheet__popup--body {
                            display: flex;

                            .ordersheet__popup__column {

                                &:first-child {
                                    margin-right: 45px;
                                }

                                .ordersheet__product--img {
                                    width: 290px;
                                    height: 290px;
                                    object-fit: cover;

                                }

                                .ordersheet__popup--title {
                                    font-size: 42px;
                                    font-family: "SDGothicR";
                                    margin-bottom: 15px;
                                }

                                .ordersheet__popup--productName {
                                    font-size: 38px;
                                    font-family: "SDGothicB";
                                    margin-bottom: 12px;
                                }

                                .ordersheet__popup--text {
                                    word-break: break-all;
                                    font-family: "SDGothicR";
                                    font-size: 22px;
                                    margin-bottom: 46px;
                                }

                                .ordersheet__popup--guide {
                                    font-size: 22px;
                                    font-family: "SDGothicR";
                                    margin-bottom: 15px;
                                }

                                .ordersheet__popup__active--box {
                                    display: flex;

                                    .input__quantity {
                                        background-color: #DDDDDD;
                                        font-family: "SDGothicR";
                                        border: none;
                                        height: 46px;
                                        font-size: 22px;
                                        text-align: center;
                                        margin-right: 15px;
                                    }

                                    .ordersheet__add--btn {
                                        height: 46px;
                                        background-color: #003CFF;
                                        color: white;
                                        font-family: "SDGothicR";
                                        font-size: 22px;
                                        border: none;
                                        text-align: center;
                                        width: 100%;
                                        cursor: pointer;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}