.header {
    width: 100%;
    height: 120px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .header__columns {

        max-width: 1320px;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        font-family: "SDGothicR";

        margin: 0 auto;

        .header__column {
            display: flex;
            align-items: center;

            .header__link--text {
                color: white;
            }

            &:last-child {
                margin-left: auto;
            }

            .header__icon {
                width: 22px;
            }

            .header--mg {
                margin-right: 20px;
            }
        }
    }
}

.header__dark {
    .header__link--text {
        color: black !important;
    }
}