extends layouts/base.pug

block content
    include ./partials/header.pug
    #home
        #popupOverlay
        .main__section(style="background-image:url('/static/images/main_background01.jpg')").wheelSection 
            .main__section__wrapper
                .section__heading--box
                    h1.section__head--text the best solar energy
                    h1.section__head--text equipments from Korea

                    .section__subheading--box
                        p.section__subhead--text We provide the world's heighest quality solar energy equipments from variouis brands.
                        .subheading__child--box
                            p.section__subhead--text Especially from Korea.
                            a(href="/shop") SHOP
                
                .section__process
                    .scroll__div
                        img(src="/static/images/scroll_icon.png")
                        p.scroll__text Scroll down
                        
                    h2.section__process--text Our process

                    .process__child--box
                        h3.process__child--text Select
                        h3.process__child--text items

                    img(src="/static/images/right_arrow.png").right__arrow--icon

                    .process__child--box
                        h3.process__child--text Make an
                        h3.process__child--text order

                        .process__child__sub--box
                            p.process__child__sub--text *We will send
                            p.process__child--sub--text you an estimate

                    img(src="/static/images/right_arrow.png").right__arrow--icon    

                    .process__child--box
                        h3.process__child--text Send
                        h3.process__child--text money
                        include ./popups/account-info-popup.pug                                                                                          
                        .process__child__sub--box
                            a.process__child__sub--popup.process__child__sub--text *Account Info
                            p.process__child--sub--text &nbsp;


                    img(src="/static/images/right_arrow.png").right__arrow--icon     

                    .process__child--box
                        h3.process__child--text Order will be
                        h3.process__child--text placed

                        .process__child__sub--box
                            p.process__child__sub--text *Confirmation
                            p.process__child--sub--text Mail will be sent

                    img(src="/static/images/right_arrow.png").right__arrow--icon     

                    .process__child--box
                        h3.process__child--text Shipping
                        .process__child__sub--box
                            p.process__child__sub--text *It takes about
                            p.process__child--sub--text 2 weeks

                    .main__section__footer
                        .main__section__footer__column
                            p.main__footer__text Any questions?
                        .main__section__footer__column
                            img(src="/static/images/phone_icon.png")
                            p.main__footer__text 82+ 2-2088-1955
                        .main__section__footer__column
                            img(src="/static/images/mail_icon.png")
                            p.main__footer__text 10wonder@naver.com
        .scroll__back(style="background-image:url('/static/images/scroll_back01.jpg')").wheelSection.scroll1 
        .scroll__back(style="background-image:url('/static/images/scroll_back02.jpg')").wheelSection.scroll2                            
        .scroll__back(style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) 100%), url('/static/images/scroll_back03.jpg')").wheelSection.scroll3
            .scroll__inner__section
                .scroll__inner__box
                    h1.scroll__inner--title Our products
                .scroll__inner__box
                    p.scroll__inner--text the highest quality products such as solar modules, inverters,
                    p.scroll__inner--text and optimizers for solar power plant construction.
                
                .scroll__inner__box
                    a(href="/shop") FIND MORE
        .slice__section.wheelSection 
            .slice__back(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/slice_back01.jpg')")
                .slice__box
                    h1.slice__box--title Inverter
                    p.slice__box--text Provides the most profitable solar inverters.
                    a(href="/shop") FIND MORE
            .slice__back(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/scroll_back03.jpg')")
                .slice__box
                    h1.slice__box--title Module
                    p.slice__box--text Provides globally reliable solar modules.
                    a(href="/shop/module") FIND MORE            
            .slice__back(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/slice_back03.jpg')")
                .slice__box
                    h1.slice__box--title Optimizer
                    p.slice__box--text When power generation decreases due to
                    p.slice__box--text unexpected shading, it imporves power
                    p.slice__box--text generation efficiency by 5-20%.
                    a(href="/shop/optimize") FIND MORE
        .brand__section(style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/brand_back01.jpg')").wheelSection 
            .brand__section__wrapper
                .brand__text--zone
                    h1.brand__section--title Find a brand you want
                    p.brand__section--text Our partners in various industries
                    p.brand__section--text around the world provide the equipments.

                .brand__image--zone
                    .brand__image--back
                        img(src="/static/images/brand01.png")
                    .brand__image--back
                        img(src="/static/images/brand02.png")
                    .brand__image--back
                        img(src="/static/images/brand03.png")                                                
                    .brand__image--back
                        img(src="/static/images/brand04.jpg")  
                    .brand__image--back
                        img(src="/static/images/brand05.png")  
                    .brand__image--back
                        img(src="/static/images/brand06.png")  
                    .brand__image--back
                        img(src="/static/images/brand07.png")  
                    .brand__image--back
                        img(src="/static/images/brand08.png")  
                    .brand__image--back
                        img(src="/static/images/brand09.png")  
                    .brand__image--back
                        img(src="/static/images/brand10.jpg")  
                    .brand__image--back
                        img(src="/static/images/brand11.png")
                    .brand__image--back
                        img(src="/static/images/brand12.jpg")                        
                    .brand__image--back
                        img(src="/static/images/brand13.png")

                a(href="/shop").brand__find--btn FIND MORE

    img(src="/static/images/pageup_icon.png").pageup--icon
    include ./partials/footer.pug

block scripts
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src="/static/js/main.js")
    script(src="/static/js/home.js")
    