footer.footer.wheelSection 
    .footer__real--section
        h1.footer__contact--text Contact

        .footer__column
            img(src="/static/images/phone_icon.png")
            p.footer__info--text 82+ 2-2088-1955
        .footer__column
            img(src="/static/images/mail_icon.png")
            p.footer__info--text 10wonder@naver.com
