header.header(style="background-color: black;")
    .header__columns
        .header__column
            a(href="/dashboard")
                img(src="/static/images/logo.png")
        .header__column
            a(href="/admin/login").header--mg
                span.header__link--text LOGIN
            a(href="/admin/dashboard").header--mg
                span.header__link--text DASHBOARD