header.header(style="background-color: black;")
    .header__columns
        .header__column
            a(href="/admin/dashboard")
                img(src="/static/images/logo.png")
        .header__column
            if loggedIn
                a(href="/admin/logout").header--mg
                    span.header__link--text LOGOUT
            else
                a(href="/admin/login").header--mg
                    span.header__link--text LOGIN
