header.header
    .header__columns
        .header__column
            a(href="/")
                img(src="/static/images/logo.png")
        .header__column
            a(href="/shop").header--mg
                span.header__link--text SHOP
            a(href="/cart")
                img(src="/static/images/cart_icon.png").header__icon