doctype html
html(lang="en")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/css/styles.css")
    
    body
        main
            block content

        block scripts