doctype html
html(lang="en")
    head
        title #{pageTitle} | #{siteName}
        link(rel="shortcut icon" href="/static/images/logo_dark.png")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    
    body
        main
            block content

        block scripts