doctype html
html(lang="en")
    head
        title #{pageTitle} | #{siteName}
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(property="og:title" content="10 WGE")
        meta(property="og:type" content="website")
        meta(property="og:url" content="https://10wge.com")
        meta(property="og:image" content="/static/images/10wge_ogimage.jpg")
        meta(property="og:image:width" content="800")
        meta(property="og:image:height" content="800")
        meta(property="og:description" content="We provide the world's highest quality solar energy equipments")
        meta(property="og:site_name" content=pageTitle)
        link(rel="shortcut icon" href="/static/images/favicon-16x16.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png")
        link(rel="icon" sizes="192x192" href="/static/images/android-icon-192x192.png")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    
    body
        main
            block content

        block scripts