html(lang=en)
    head
        title Your estimate has arrived.
    body
        p OrderNumber is #{orderNumber}
        p Now you can see the progress in "Your Order"
        a(href="http://localhost:3000/order", target="_blank") Check Your Order