html(lang=en)
    head
        title You have successfully added the product to your order sheet.
    body
        p OrderNumber is #{orderNumber}
        p Now you can see the progress in "Your Order"
        a(href="https://10wge.com/order") Check Your Order